@page

<div>
    <table class="table" id="auction-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Item</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Starting price</th>
                <th>Current Bid</th>
                <th>Your Bid</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/auction.js" asp-append-version="true"></script>